<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0b0b0c">
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; {{ current_tags | join: ', ' }}{% endif -%}
      {%- if current_page != 1 %} &ndash; Pagina {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  </head>
  <body class="bns-body">
    <a class="skip-link" href="#MainContent">{{ 'accessibility.skip_to_text' | t }}</a>
    {% section 'header' %}
    {% section 'cart-drawer' %}

    <main id="MainContent" class="bns-main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
